<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h3 class="text-center">Categorias</h3>
      <ul class="list-group">
      <% @categories.each do |category| %>
        <li class="list-group-item"><%= link_to category.name, root_path(category_id:category.id)%></li>
      <% end %>
      </ul>
    </div>
      <div class="col-md-10">
        <div class="row"  id="products-container">
          <%if @products.size > 0 %>
            <% @products.each do |product| %>
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                  <%= image_tag product.image.url(:thumb), class:'image-responsive' %>
                    <div class="caption">
                      <h3><%= product.name %></h3>
                      <p class = "description"><%= product.description %></p>
                      <p><%= link_to 'Comprar', purchases_path(product_id: product.id),method: :post, class: 'btn btn-success' %></p>
                    </div>
                  </div>
                </div>
            <% end %>
          <% else %>
            <h3>Esta Categoria No Tiene Productos</h3>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
