<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% if @action == 'created' || @action == 'updated' %>
        <h1 class = "text-centered">The category has been <%= @action %> successfully</h1>
      <% end %>
      <h2>Category Information</h2>
      <p><strong>Name:</strong> <%= @category.name %></p>
      <p><strong>Description:</strong> <%= @category.description %></p>
      <p><strong>Created At:</strong> <%= @category.created_at %></p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= link_to "New Category", new_category_path %> -
      <%= link_to "All Categories", categories_path %>
    </div>
  </div>
</div>
