<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class = "text-centered">The product has been created successfully</h1>
      <p><strong>Name:</strong> <%= @product.name %></p>
      <p><strong>Reference:</strong> <%= @product.reference %></p>
      <p><strong>Precio:</strong> <%= @product.precio %></p>
      <p><strong>Quantity:</strong> <%= @product.quantity %></p>
      <p><strong>Brand:</strong> <%= @product.brand %></p>
      <p><strong>Description:</strong> <%= @product.description %></p>
      <p><strong>Created At:</strong> <%= @product.created_at %></p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to "New Product", new_product_path %> -
      <%= link_to "All Products", products_path %>
    </div>
  </div>
</div>
